* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  overflow-y: hidden;
}

.welcome {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(36, 122, 10);
}

.choose {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.logout {
  padding: 20px;
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

a {
  text-decoration: none;
  background-color: rgb(36, 122, 10);
  color: aliceblue;
  width: 25%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 5px 15px rgb(36, 122, 10);
  font-family: Arial, Helvetica, sans-serif;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 65vh;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.actions > div:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.option {
  height: 150px;
  width: 300px;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: 100%;
  background-color: rgb(105, 105, 105);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.assignPatient {
  background-image: url(../assets/patient.jfif);
}
.assignEmployee {
  background-image: url(../assets/employee.jfif);
}
.viewServices {
  background-image: url(../assets/services.jpg);
}
.stats {
  background-image: url(../assets/stats.jpg);
}

.addEmployee {
  background-image: url(../assets/newEmp.jpg);
}
