* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  height: 100vh;
}

.logo {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center {
  width: 55%;
  display: flex;
  justify-content: start;
}
.arrow {
  padding: 20px;
  width: 45%;
  display: flex;
  justify-content: start;
}

h1 {
  font-size: 60px;
  color: rgb(36, 122, 10);
  margin: 20px;
}

hr {
  border: 1px rgb(0, 0, 0) solid;
  margin: 30px 0;
}
